<html>
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, 頁面沒有被找到 :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>